<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Filtres</title>
    <link href="/third-party/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

<script src="/third-party/jquery-3.6.0.min.js"></script>
<script src="/third-party/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"></script>
<script src="/third-party/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"></script>
{% include "nav.html" %}
<h1>Filtres</h1>
<p>Insérer les mots clé à inclure et exclure. Chaque ligne est un ensemble de mot clé qui seront recherchés ensemble</p>
<form method="POST">
    <div class="pane-root">
        <div class="pane pane-left">
            <h2>A inclure</h2>
            <textarea name="include">{{include}}</textarea>
        </div>
        <div class="pane pane-right">
            <h2>A exclure</h2>
            <textarea name="exclude">{{exclude}}</textarea>
        </div>
    </div>
    <button type="submit" name="validate">Valider</button>
    <button type="submit" name="validate_and_reload">Valider et recharger</button>
</form>

<style>
.pane {
    width: 50%;
}

textarea {
    width: 95%;
    min-height: 400px;
}

.pane-left {
}

.pane-right {

}
.pane-root {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}


</style>
</body>
</html>