
<div class="element">
    <div class="div-left">
        <center>
            <img src="{{elem.image}}"/>
        </center>
    </div>
    <div class="div-right">
        <small></small>
        <h1><a href="{{elem.url}}">{{elem.title}}</a></h1>
        <p>{{elem.content}}</p>
        <table>
            <tbody>
                <tr>
                    <td>id</td>
                    <td>{{elem.id}}</td>
                </tr>
                <tr>
                    <td>Surface</td>
                    <td>{{elem.surface}} m²</td>
                </tr>
                <tr>
                    <td>Loyer</td>
                    <td>{{elem.prix}} €</td>
                </tr>
                <tr>
                    <td>Age</td>
                    <td>{{elem.age}}</td>
                </tr>
                <tr>
                    <td>Score</td>
                    <td>{{elem.score}}</td>
                </tr>
                <tr>
                    <td>Site</td>
                    <td>{{elem.domain}}</td>
                </tr>
                <tr>
                    <td>Téléphone</td>
                    <td>{{elem.phone}}</td>
                </tr>
                <tr>
                    <td>Addresse / localisation</td>
                    <td>{{elem.adresse}}</td>
                </tr>
                <tr>
                    <td>Lien</td>
                    <td><a href="{{elem.url}}">Lien</a></td>
                </tr>
                <tr>
                    <td>Action</td>
                    <td>
                        {% if elem.disable %}
                            <a href="/annonce/enable/{{elem.id}}">Activer</a>
                        {% else %}
                            <a href="/annonce/disable/{{elem.id}}">Désctiver</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Mot inclus</td>
                    <td>{{elem.include}}</td>
                </tr>
                <tr>
                    <td>Mot exclus</td>
                    <td>{{elem.exclude}}</td>
                </tr>
                <tr>
                    <td>Pertinent</td>
                    <td>
                        {% if elem.is_relevant %}
                            Oui
                        {% else %}
                            Non
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% for img in elem.images %}
     <img src="{{img}}"/>
{% endfor %}

<style>
.element{
    display: flex;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-bottom: 10px;
}

.div-left{
    width: 20%;
    height: 100%;
}


.div-left > center {
    vertical-align: middle;
    display: inline;
}

.div-left > center > img{
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
    display: inline;
}

.div-right{
    padding-left: 5px;
    width: 60%;
}
</style>