<!DOCTYPE html>
<html lang="fr">
<meta charset="UTF-8">
<title>Page Title</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="/third-party/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<style>
textarea{
  width: 500px;
  height: 200px;
}
</style>
<body>
<script src="/third-party/jquery-3.6.0.min.js"></script>
<script src="/third-party/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"></script>
<script src="/third-party/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"></script>
{% include "nav.html" %}
<h1>Notification push</h1>
<h2>S'inscrire</h2>
<button onclick="subscribe()">S'inscrire</button>


<h2>Envoyer une notification push</h2>
<button onclick="$.get('/send')">Envoyer</button>


<script type="module" src="/lib.js"></script>

</body>
</html>